[Unit]
Description=Server listens to transport devices and sends received relemetry on Cuba

[Service]
WorkingDirectory=/root/cuba-transport-monitoring
ExecStart=/root/cuba-transport-monitoring/.venv/bin/python /root/cuba-transport-monitoring/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target