[Unit]
Description=Server listens to transport devices and sends received relemetry on Cuba

[Service]
WorkingDirectory=/cuba/cuba-transport-monitoring
ExecStart=/usr/bin/python3.12 /cuba/cuba-transport-monitoring/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target