[Unit]
Description=Count idling of transport for previous day.

[Service]
WorkingDirectory=/root/cuba-transport-monitoring
ExecStart=/root/cuba-transport-monitoring/.venv/bin/python /root/cuba-transport-monitoring/idling_counter.py
Restart=always

[Install]
WantedBy=multi-user.target